@{
    ViewData["Title"] = "Student Cell Phone list";
}

<h2>Student Phone List</h2>

<div class=" flex justify-center border-black "> 
    <div class="text-3xl font-bold" >
        <p>This list</p>
    </div>
</div>