@{
    ViewData["Title"] = "Student Cell Phone list";
}

<h2>Student Phone List</h2>

<div class=" d-flex flex-row border border-black mb-3"> 
    <div class="d-flex flex-column border border-warning">
        <div class="p-2">
            cellPhone 1
        </div>
        <div class="p-2">
            cellPhone 2
        </div>
        <div class="p-2">
            cellPhone 3
        </div>
    </div>

    <div class="d-flex flex-column border border-primary">
        <div class="p-2">
            cellPhone 4
        </div>
        <div class="p-2">
            cellPhone 5
        </div>
        <div class="p-2">
            cellPhone 6
        </div>

    </div>
  
</div>